<div class="container-fluid">
  <div class="row">
    <button (click)="onNew()" class="btn btn-info form-btn" id="form-btn">Post a new Item</button>
  
    <form  (ngSubmit)="onSave()" *ngIf="showNew" id="item-form">
  
      <span (click)="onCancel()" class="del"><i class="fa fa-times-circle"></i></span>
  
      <div class="form-group">
        <label for="text-input">Item</label>
        <textarea class="form-control" [(ngModel)]="itemModel.text" placeholder="Write your item here" rows="6" name="text" id="text-input" required></textarea>
      </div>
  
      <div class="form-group">
        <label for="price-input">Price</label>
        <input class="form-control" type="text" [(ngModel)]="itemModel.price" name="price" id="price-input" placeholder="Item Price" required>
      </div>
  
      <div class="form-group">
        <label for="quantity-input">Quantity</label>
        <input id="quantity-input" class="form-control" type="text" [(ngModel)]="itemModel.quantity" name="quantity" placeholder="Item name" required>
      </div>
  
      <button type="submit" class="btn btn-secondary">{{submitType}}</button>
    </form>
  </div>



</div>
<!-- <p>shoppingcart-form works!</p> -->
