<div class="cart">
  <div class="panel panel-default">    
    <div class="panel-heading">
      <div>ItemName</div>
      <div>ItemValue</div>
      <div>Price</div>
      <div>Quantity</div>           
    </div>    
  </div>

  <div class="list-group">
    <app-cartitem
      class="list-group-item"
      *ngFor="let item of cartItems; let i = index"
      [cartItem]="item"
      (cartItemDeleted)="onCartItemDeleted($event)"
      (cartItemChanged)="onCartItemChanged($event)">
    </app-cartitem>
  </div> 
</div>



<!-- <p>shoppingcart-details works!</p> -->
