<div class="body container">
  <div class="grid">
    <div class="card-columns">  
      <div class="card" *ngFor='let item of ProductItems;let i = index'>
        <div class>
          <img [src]="item.imageUrl"
            alt="{{item.name}}">
        </div>         
        <div class="card">
          <div  class="container">
          <p class="fa fa-item-left"></p>
          <h1>{{item.name}}</h1>
          <p>{{item.price}}</p>
          <button class="btn btn-primary"
          role="button"
          id={{item.id}}
          (click)="onCartUpdated($event)">
          Add to Cart
          </button>
        </div>       
      </div>
    </div>
  </div>
</div>
  
<!-- <p>shoppingcart works!</p> -->
